.App {
  text-align: center;
}

a:hover{
  text-decoration:none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-font-size{
  font-size:2em;
}

.modal-content{
  background-color: #84c1ff;
}

.modal-header{
  background-color: #d6eaff;
  border-bottom: 1px solid #d6eaff;
}

.bg-custom{
  background-color: #84c1ff;
}

.bg-list{
  background-color: #d6eaff;
  color:#686d76;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
